
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
color: white;
}
/* linked class */
a:link {
  margin: 6rem 8rem;
  display: inline-block;
  font-size:2rem;
  padding: 10px 20px;
  background-color: rgb(40, 143, 6);
  text-decoration: none;
  color: rgb(255, 255, 255);

}

a:hover {
  background-color: rgb(221, 221, 22);
}

a:active{
  background-color: brown;
}

/* a:visited{
 background-color: aqua;
} */