
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .content-box {
    box-sizing: content-box;
    width: 500px;
    height: 300px;
    padding: 50px;
    background-color: rgb(27, 214, 195);
    margin: 40px;
  }
  .border-box {
    box-sizing: border-box;
    margin: 40px;
    width: 500px;
    height: 300px;
    padding: 50px;
    background-color: rgb(180, 232, 7);
  }
  